@model IEnumerable<ModelsLayer.Books>
@Scripts.Render("~/bundles/custom/Book")
<div>
    <div class="box">
        <script src="~/Scripts/custom/Book.js"></script>
        <h2 class="text1">Bookstore</h2>
        <input type="text" placeholder="Search..">
        <h4 class="text2">Cart</h4>
    </div>
    <h2>Booklist</h2>
    <div class="container card_container">

        @foreach (var items in Model)
         {
            <div class="card_getbooks">
                <div class="container_getbooks">
                    <div class="getbook_field">
                        @items.BookName
                    </div>
                    <div class="getbook_field text_size">
                        by @items.Author
                    </div>
                    <div class="getbook_field">
                        Rs.   @items.Price
                    </div>
                    <div class="buttons">
                        <div class="add">
                            <input type="button" value="Add To Cart" class="btn-danger" id="cartBtn-@items.BookId" onclick="AddToCart(@items.BookId)">
                        </div>
                        <input type="button" value="Added To Cart" class="btn-primary" id="addedCartBtn-@items.BookId">
                        <input type="button" value="Added To Cart" class="btn-primary" id="addedWishBtn-@items.BookId">

                        <div class="wishlist">
                            <input type="button" value="Wishlist" class="btn-wishlist" id="wishBtn-@items.BookId" onclick="AddToWishList(@items.BookId)">
                        </div>
                    </div>
                </div>
            </div>

         }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}