@model IEnumerable<ModelsLayer.Books>
@Scripts.Render("~/bundles/custom/Book")
<div>
    <div class="box">        
        <h2 class="text1">Bookstore</h2>
        <h4 class="text2"><a href="https://localhost:44375/Cart/GetCart">Cart</a></h4>
        <h4 class="text2"><a href="https://localhost:44375/WishList/GetWishList">Wishlist</a></h4>
    </div>
    <h2 class="login">Booklist</h2>
    <div class="container card_container">

        @foreach (var items in Model)
        {
            <div class="card_getbooks">
                <div class="container_getbooks">
                    <div class="getbook_field">
                        <img src="@Url.Content(@items.Image)" alt="Image" />
                    </div>
                    <div class="getbook_field">
                        @items.BookName
                    </div>
                    <div class="getbook_field text_size">
                        by @items.Author
                    </div>
                    <div class="getbook_field">
                        Rs.   @items.Price
                    </div>
                    <div class="buttons">
                        <div class="add">
                            <input type="button" value="ADD TO CART" class="btn-danger" id="cartBtn-@items.BookId" onclick="AddToCart(@items.BookId)">
                        </div>
                        <input type="button" value="ADDED TO CART" class="btn-primary" id="addedCartBtn-@items.BookId">

                        <div class="wishlist">
                            <input type="button" value="WISHLIST" class="btn-wishlist" id="wishBtn-@items.BookId" onclick="AddToWishList(@items.BookId)">
                        </div>
                        <input type="button" value="wISHLISTED" class="btn-primary" id="addedWishListBtn-@items.BookId">
                    </div>
                </div>
            </div>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}